#cartNotification{
   
    width:10px;
    border: solid black 2px;
    border-radius: 2px;
    margin-left:5px;
    background-color: aliceblue;
}

#cartTitle{
   color: aliceblue;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}