#showSaldo{
    width:20px;
    border: solid black 2px;
    border-radius: 2px;
    margin-left:5px;
    background-color: aliceblue;
}

.saldo{
    color: aliceblue;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
