*
{
    padding: 0%;
    margin: 0%;
}

body{
    height:1000px;
    width:100%;
}
#root{

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 65% 20%;
    grid-template-areas: "a"
                        "b"
                        "c";

    width: 100%;
    height: 100%;

}


a{
    text-decoration: none;

}
